{% extends 'base.html' %}       <!-- на основе шаблона base.html создаётся страница -->
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges\index.css' %} ">        <!-- static папку следит джанго, вложеные указать в пути -->
    <link rel="stylesheet" href="{% static '\includes\header.css' %} ">
{% endblock css_files %}

{% block page_title %}
    Monthly challenges
{% endblock page_title %}

{% block content %}
    {% include 'challenges\includes\header.html' %}
    
    <ul>
        {% for month in months %}
            <li><a href="{% url 'month_challenge' month=month %}">{{ month|title}}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
