p {
    font-family: monospace;
    color: #4b4b4b;
}

#today-challenge {
    font-weight: bold;
    font-size: 60px;
    color: rgb(230, 230, 230);
    padding: 12px 48px;
    /* margin: 1rem 0 0 0; */
}

h1 {
    margin: 2rem 0 0 0;
}